@import "~bootstrap/scss/bootstrap";
@import "./couleurs.scss";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 700px;
  width: 100%;
  margin: 0;
  padding: 0;
}

#list-restaurants{
  width: 95%;
  position: absolute;
}
#rates{
  border:0;
}
#add-comment{
  border-top: 1px solid $color_bloc_comment_separator;
  padding-top: 30px;
}

.border-map{
  padding: 0;
}
.stars{
  position: relative;
  top: 10%;
  left: 14.5%;
  padding-top: 18%;
  margin-bottom: -48%;
  transform: translate(-50%,-50%);
  direction: rtl;
  i{
    font-size: 30px;
    transition: 0.3s all;
    &:hover{
      color: $color_yellow_star;
    }
  }
  &-full{
    font-size: 30px;
    color:$color_yellow_star;
  }
}


.s1:hover ~ i{
  color:$color_yellow_star;
}
.s2:hover ~ i{
  color:$color_yellow_star;
}
.s3:hover ~ i{
  color:$color_yellow_star;
}
.s4:hover ~ i{
  color:$color_yellow_star;
}
.s5:hover ~ i{
  color:$color_yellow_star;
}

.list-group-item:hover{
  background-color: $color_background_list_restaurant;
}
.img-streetview {
  height: 100px;
}

.invalid-message{
  color:$color_invalid_message;
  font-size: 13px;
  text-align: center;
  height: 15px;
}

.visibility-hide{
  visibility: hidden;
}
.visibility-show{
  visibility: visible;
}
@media (max-width: 767px) {
  #list-restaurants{
    position: unset;
    width: 100%;
  }
  .h-mobile{
    height: 100px !important;
  }
  #add-comment{
    padding-top: 0;
  }
  .stars{
    padding-top: 18%;
    margin-bottom: -20%;
    left: 20.5%;
  }
 }

 @media (max-width: 320px) {
  p {
    margin-bottom: 0rem!important;
  }
  .stars{
    padding-top: 15%;
    margin-bottom: -23%;
    left: 24.5%;
  }
  .modal-header{
    padding:0;
  }
  .modal-body{
    padding: 0;
  }
  .form-control {
    margin-left: 0.5rem;
    width: 90%;
  }
  .btn{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  label {
    margin-left: 0.5rem;
  }
  .title-addrestaurant{
    font-size: 0.65rem;
  }
 }

